.movie_info_box{
    border: white;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 2px;
    margin-top: 200px;
    margin-left: 70px;
    color: red;
    display: grid;
    padding: 10px;
    grid-row-gap: 50px;
}
.title-poster {
    margin-right: 20px;    
    margin-left: 25px;
    height: 266px;
    width: 400px;
}
.title_poster_img{
    height: 400px;
    width: 266px;
}
.title_poster_sec_row{
    width: 490px;
    height: 400px;
}
.title_details {
   height: 70px;
}

