.footer {
    max-width:70%;
    margin: 1rem auto;
    overflow: auto;
}
.footer,
.footer-cols a {
    color: #999;
    font-size: 0.9rem;
}
.footer p {
    margin: bottom 1.5rem;
}
.footer .footer-cols {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.footer li {
  line-height: 1.9;
}

