.banner{
    background-size: cover;
    height: 448px;
    color: rgb(252, 250, 250);
   
}

.grid-container {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: auto auto auto;
  }

.content{
    padding-top: 101px;
    display: grid;
    
    height: 54px;
    padding-left: 15px;
    text-shadow: 2px 2px 4px #000000;
    
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    
}

.button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.button:hover{
    color: black;
    background-color: #e6e6e6;
}

.description{
        width: 45rem;
        line-height: 1.3;
        padding-top: 1rem;
        font-size: 1rem;
        height: 120px;
        max-width: 360px;
        overflow: hidden scroll;
        scrollbar-color: transparent transparent;
}



.youtube{
    padding: 10px;
    padding-left: 330px;
}
.fade_bottom{
    height: 7.4rem;
    padding-top :175px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);

}